*{
	margin: 0;
	padding:0;
    list-style: none;
}
html{
	background: url(../images/img_bg_login.png) no-repeat 0 0;
    background-size: 100% 100%;
}
.header{
	width: 100%;
	height: 100%;	
}
.header .logo{
	width: 400px;
	height: 110px;
	margin: 0 auto;
	margin-top:90px;
	background: url(../images/img_logo_login.png);
}
.login_box{
	width: 260px;
	height: 100%;
	margin-top: 50px;
	margin: 0 auto;
}
.in{
	width: 260px;
	height: 30px;
	border:none;
	outline: none;
	background-color: #fff;
	opacity: 0.5;
	color: #fff;
}